body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: rgb(205, 149, 149);
}

#yin {
    display: flex;
    align-items: center;
    width: 80vmin; 
    height: 80vmin;
    border-radius: 50%;
    background: linear-gradient(black 50%, white 0);
    position: relative;
}  

#yin:before, #yin:after {
    flex: 1;
    border: solid 80vmin/6 white;
    height: 50%;
    box-sizing: border-box;
    border-radius: 50%;
    background: black;
    content: ''
}
    
#yin:after {
    border-color: black;
    background: white;
}

#circle1 {
  /* position: absolute; */
  width: 600px;
  height: 600px;
  /* top: 0; */
  background-color: red;
}